variables:
  UV_CACHE_DIR: .uv-cache

  # GitLab CI creates a separate mountpoint for the build directory,
  # so we need to copy instead of using hard links.
  UV_LINK_MODE: copy

cache:
  - key:
      files:
        - uv.lock
    paths:
      - $UV_CACHE_DIR

default:
  image: ghcr.io/astral-sh/uv:python3.9-bookworm@sha256:593da8ad267c37a1a0c79cdb9c9db49a09f4180533f34b19585b8de91f172ba9
  tags:
    - pangea-internal
  after_script:
    - uv cache prune --ci

stages:
  - lint
  - build
  - unit_tests
  - integration_tests
  - examples
  - publish

include:
  - /examples/.gitlab-ci.yml
  - /packages/pangea-django/.django-ci.yml
  - /packages/pangea-sdk/.sdk-ci.yml
