# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# dist / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

# pyenv
.python-version

# environments
.env
.venv
env/

# editors
.idea
.vscode

# test coverage
.coverage
packages/pangea-sdk/logs/

# generated docs
python_sdk.json
pangea_sdk_logs.json*
packages/pangea-sdk/tests/testdata/dump.json

# examples poetry locks
examples/*/poetry.lock
.DS_Store
