default:
  image: python:3.7-bullseye
  tags:
    - pangea-internal

stages:
  - lint
  - unit_tests
  - integration_tests
  - staging_tests
  - build

include:
  - /packages/pangea-sdk/.sdk-ci.yml
  # - /packages/pangea-django/.django-ci.yml
