[project]
name = "pangea-sdk"
version = "6.11.0"
description = "Pangea API SDK"
authors = [
    {name = "Glenn Gallien", email = "glenn.gallien@pangea.cloud"}
]
license = "MIT"
readme = "README.md"
keywords = ["Pangea", "SDK", "Audit"]
classifiers = [
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
]
requires-python = ">=3.9.2,<4.0.0"
dependencies = [
  "aiohttp (>=3.13.2,<4.0.0)",
  "cryptography (>=46.0.3,<47.0.0)",
  "deprecated (>=1.3.1,<2.0.0)",
  "google-crc32c (>=1.7.1,<2.0.0)",
  "pydantic (>=2.12.3,<3.0.0)",
  "python-dateutil (>=2.9.0.post0,<3.0.0)",
  "requests (>=2.32.5,<3.0.0)",
  "requests-toolbelt (>=1.0.0,<2.0.0)",
  "typing-extensions (>=4.15.0,<5.0.0)",
  "yarl (>=1.22.0,<2.0.0)"
]

[project.urls]
repository = "https://github.com/pangeacyber/pangea-python"

[dependency-groups]
dev = [
  "docstring-parser ==0.17.0",
  "pytest-asyncio ==1.2.0",
  "pytest_httpserver ==1.1.3",
  "types-Deprecated ==1.3.1.20251101",
  "types-python-dateutil ==2.9.0.20251008",
  "types-requests ==2.32.4.20250913",
]

[build-system]
requires = ["uv_build==0.9.7"]
build-backend = "uv_build"

[tool.mypy]
python_version = "3.9"
color_output = true
error_summary = true
implicit_reexport = false
pretty = true
show_column_numbers = true
warn_unused_ignores = true
plugins = ['pydantic.mypy']

[tool.pydantic-mypy]
init_forbid_extra = false
init_typed = true
warn_required_dynamic_aliases = true

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "--tb=short"
xfail_strict = true
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "session"
filterwarnings = ["error"]

[tool.uv.build-backend]
module-name = "pangea"
module-root = ""
