[project]
name = "pangea-sdk"
version = "5.5.0beta2"
description = "Pangea API SDK"
authors = [
    {name = "Glenn Gallien", email = "glenn.gallien@pangea.cloud"}
]
license = "MIT"
readme = "README.md"
homepage = "https://pangea.cloud/docs/sdk/python/"
repository = "https://github.com/pangeacyber/pangea-python/tree/main/packages/pangea-sdk"
keywords = ["Pangea", "SDK", "Audit"]
classifiers = [
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
]
requires-python = ">=3.9,<4.0.0"
dependencies = [
  "aiohttp (>=3.11.11,<4.0.0)",
  "cryptography (>=43.0.3,<44.0.0)",
  "deprecated (>=1.2.15,<2.0.0)",
  "google-crc32c (>=1.5.0,<2.0.0)",
  "pydantic (>=2.10.5,<3.0.0)",
  "python-dateutil (>=2.9.0.post0,<3.0.0)",
  "requests (>=2.31.0,<3.0.0)",
  "requests-toolbelt (>=1.0.0,<2.0.0)",
  "typing-extensions (>=4.12.2,<5.0.0)"
]

[tool.poetry]
packages = [
    { include = "pangea" }
]

[tool.poetry.group.dev.dependencies]
black = "^24.10.0"
docstring-parser = "^0.15"
isort = "^5.13.2"
mypy = "1.14.1"
types-Deprecated = "^1.2.9.3"
types-python-dateutil = "^2.8.19.14"
types-requests = "^2.31.0.10"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length = 120
src_paths = ["pangea", "tests"]
known_local_folder = ["pangea", "tests"]

[tool.mypy]
python_version = "3.9"
color_output = true
error_summary = true
pretty = true
show_column_numbers = true
warn_unused_ignores = true

[build-system]
requires = ["poetry-core>=2.0.1"]
build-backend = "poetry.core.masonry.api"
