[project]
name = "pangea-sdk"
version = "6.2.0"
description = "Pangea API SDK"
authors = [
    {name = "Glenn Gallien", email = "glenn.gallien@pangea.cloud"}
]
license = "MIT"
readme = "README.md"
homepage = "https://pangea.cloud/docs/sdk/python/"
repository = "https://github.com/pangeacyber/pangea-python/tree/main/packages/pangea-sdk"
keywords = ["Pangea", "SDK", "Audit"]
classifiers = [
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
]
requires-python = ">=3.9.2,<4.0.0"
dependencies = [
  "aiohttp (>=3.12.13,<4.0.0)",
  "cryptography (>=45.0.4,<46.0.0)",
  "deprecated (>=1.2.18,<2.0.0)",
  "google-crc32c (>=1.7.1,<2.0.0)",
  "pydantic (>=2.11.7,<3.0.0)",
  "python-dateutil (>=2.9.0.post0,<3.0.0)",
  "requests (>=2.32.4,<3.0.0)",
  "requests-toolbelt (>=1.0.0,<2.0.0)",
  "typing-extensions (>=4.14.0,<5.0.0)",
  "yarl (>=1.20.1,<2.0.0)"
]

[tool.poetry]
packages = [
    { include = "pangea" }
]

[tool.poetry.group.dev.dependencies]
docstring-parser = "^0.15"
mypy = "1.16.1"
pytest = "8.3.5"
pytest-asyncio = "1.0.0"
types-Deprecated = "^1.2.9.3"
types-python-dateutil = "^2.8.19.14"
types-requests = "2.32.4.20250611"

[tool.mypy]
python_version = "3.9"
color_output = true
error_summary = true
pretty = true
show_column_numbers = true
warn_unused_ignores = true
plugins = ['pydantic.mypy']

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "--tb=short"
xfail_strict = true
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "session"
filterwarnings = ["error"]

[build-system]
requires = ["poetry-core>=2.1.3"]
build-backend = "poetry.core.masonry.api"
