[project]
name = "pangea-django"
version = "1.0.1"
description = "Pangea Authentication Addon for Django"
authors = [
    {name = "Govind Salinas", email = "govind.salinas@pangea.cloud"}
]
license = "MIT"
readme = "README.md"
keywords = ["Pangea", "Django", "AuthN"]
classifiers = [
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
]
requires-python = ">=3.10.0, <4.0.0"
dependencies = [
  "django >=4.2.28, <5.0.0",
  "pangea-sdk >=6.13.0, <7.0.0",
  "typing-extensions >=4.15.0, <5.0.0",
]

[project.urls]
repository = "https://github.com/pangeacyber/pangea-python"

[dependency-groups]
dev = [
  "django-stubs ==5.2.9",
  "pytest-cov ==7.0.0",
  "pytest-django ==4.12.0",
]

[tool.mypy]
python_version = "3.10"
implicit_reexport = false
warn_unused_ignores = true

[tool.pytest.ini_options]
addopts = "--cov=pangea_django --cov-report term --cov-report html"
DJANGO_SETTINGS_MODULE = "tests_django.settings"
django_find_project = false
pythonpath = "."

[build-system]
requires = ["uv_build==0.10.3"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "pangea_django"
module-root = ""
